@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Outfit:wght@100;300;400;600&family=Poppins:wght@100;700&display=swap');

/* colors */
:root {
    --white: #fff;
    --blue-dark: #0F374F;
    --blue-light: #508CAF;
    --yellow: #FFCD29;
    --gray-dark: #77826B;
    --gray-medium: #DBDBDB;
    --gary-light: #F3F5F6;
    --green: #93b173;
}

/* reset + defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}
body{
    font-size: 10px;
}
h2, h3, h4{
    font-family: 'Poppins', Arial, sans-serif;
    color: white;
    font-weight: 300;
}
h2{
    letter-spacing: 0.5em;
    font-size: 4em; /* 9rem  */
    text-align: left;
    padding-left: 2em;
}
/********** NAVBAR **********/
.nav-close, .nav-open{
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 5px;
    visibility: hidden; /*??? display hidden*/
    color: var(--blue-light);
}
nav {
    z-index: 8;
}
nav ul{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    list-style-type: none;
    overflow: hidden;
    visibility: visible;
}
nav ul li{
    float: left;
    padding-right: 2rem;
}
nav ul li a{
    color: var(--blue-dark);
    text-decoration: none;
    font-size: 3rem;
}

/********** HERO **********/
.hero{
    display: flex;
    height: 100vh;
    flex-direction: row;
    font-size: 10px; /*redundent*/
}
.intro{
    flex: 0.5;
    width: 50vw;
    background-color: var(--blue-light);
    padding: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1;
}
.intro-title, .intro-subtext{
    letter-spacing: 0em;
    line-height: 1.1; 
}
.intro-title{
    letter-spacing: 0.5em;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 9em; /* 9em  */
    text-align: left;
    color: white;
    font-weight: 300;
}
.intro-subtext {
    color: var(--gray-medium);
    display: block;
    text-align: right;
    font-size: 5em;
    white-space: nowrap;
}
@media (max-width:1400px){
    .intro{
        padding: 7em;
        transition: 0.5s;
        font-size: 7px;
    }
}
@media (max-width: 900px){
    .intro{
        padding: 5em;
        transition: 0.5s;
        font-size: 5px;
    }
    .intro-socials{
        padding-top: 2em;
    } 
}
@media (max-width: 700px) {
    .hero {
        flex-direction: column;
    }
    .intro {
        width: 100%;
        flex: 0.4;
        transition: 0s;
    }
    .preview {
        flex: 0.6;
    }
}
.intro-socials{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.intro-socials li{
    list-style: none;    
}
.intro-socials li a i{
    font-size: 6em;
    /* color: black; */
    color: var(--yellow);
}
/*** PREVIEW ***/
.preview {
    /* background-color: var(--white); */
    background-color: rgb(219, 231, 240);
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.art-top, .art-bot{
    z-index: 9;
}
.art-top{
    position: absolute;
    top: 0;
    left: 0;
}
.art-bot{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}
.slideshow-container{
    padding-bottom: 10px;
}
.slideshow{
    background-color: var(--yellow);
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 4em;
    position: relative;
}
 @media (max-width:1200px){
    .slideshow-container{
        display: block;
        margin: auto auto;
    }
    .slideshow{
        width: 300px;
        height: 300px;
    }
}
.sign{
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 6;
}
.slide{
    position: relative;
    display: none;
}
.slide img{
    width: 100%;
}
.background{
    position: absolute;
    top: -5rem;
    left: 0;
    filter: brightness(0) saturate(100%)invert(100%) sepia(0%) saturate(20%) hue-rotate(40deg) brightness(109%) contrast(101%);
    z-index: 4;
}
.foreground{
    z-index: 5;
    position: absolute;
    top: -1rem;
    right: 50px;
}
.slideshow-traverser{
    width: 100%;
    text-align: center;
}
.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/********** CHARACTER CATALOG **********/
.catalog{
    padding-bottom: 3em;
    background-color: var(--yellow);
    font-size: 10px;
}
.catalog h2{
    color: var(--blue-dark);
}
.catalog-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.char-item{
    flex-basis: 300px;
    height: fit-content;
    /* min-height: 600px; */
    margin-bottom: 1em;
    border: 1px solid color(--blue-dark);
    width: 100%;
    /* background-color: var(--green); */
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}
.char-name{
    text-align: center;
    /* font-size: 3em; */
}
.char-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    flex: 1;
    position: relative;
    padding: 1em;
}
.char-left{
    flex: 0.5;
}
.char-left img, .char-right img{
    width: 100%;
}
.char-left img{
    border: 1px solid var(--blue-dark);
    border-radius: 10%;
}
.char-name,
.char-left h4, 
.prompt{
    font-weight: bold;
    color: var(--green);
    font-size: 3em;
}
.char-left p{
    font-size: 1.5em; /*large font size can operlap*/
}
.adopt-btn{
    width: 150px;
    margin: auto;
    height: 30px;
    border-radius: 500px;
    background-color: var(--blue-light);
    border: none;
    font-size: 2em;
    color: white;
    font-weight: bold;
}
.char-right{
    flex: 0.5;
}
.prompt{
    font-size: 1.5em;
    display: inline-block;
}
.answer{
    font-size: 2em;
}
/********** WORKS **********/
.works{
    /* min-height: 100vh; */
    background-color: var(--green); /* var(--gary-light); */
    position: relative;
}
.arrow{
    position: absolute;
    bottom: -100px;
    left: 40%;

    width: 200px;
    height: 200px;
}
.works h2{
    color: var(--gary-light);
}
.works-list{
    width: 80vw;
    margin: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.works-list img{
    flex-grow: 1;
    max-width: 300px;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

/********** COMMISIONS **********/
.commisions{
    height: 100vh;
    background-color: var(--blue-light);
}
.commisions h2{
    color: var(--white)
}
/********** FOOTER **********/
.footer {
    /* padding: 20px; */
    text-align: center;
    background: #ddd;
}

/********** MEDIA QUERIES **********/
@media (max-width: 700px) {
    /********** NAVBAR **********/
    nav ul{
        width: 0vw; /* nav drawer closed by default */
        height: 100vh;
        transition: 0.5s;
        background-color: var(--blue-dark);
    }
    nav ul li{
        text-align: center;
        float: none;
        display: block;
    }
    nav ul li a{
        line-height: 3em;
        color: var(--white);
        text-decoration: none;
    }
    .nav-open{
        visibility: visible;
    }
    /********** HERO **********/
    .hero {float:none}
}

/*
TODO
bug
    navlink -> when minimize nav in mobile view, nav disapears in desktop view
    navbar below .hero
    intro padding 10px makes fullscreen mode not pefect 50% 50%
*/